<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>🔐 Password Generator</h1>

    <form method="POST">

        <input
            type="number"
            name="length"
            placeholder="Enter Password Length"
            min="4"
            required
        >

        <button type="submit">
            Generate Password
        </button>

    </form>

    {% if password %}

    <div class="output">
        <h2>Your Password</h2>

        <input
            type="text"
            value="{{ password }}"
            readonly
            id="password"
        >

        <button onclick="copyPassword()">
            Copy
        </button>

    </div>

    {% endif %}

</div>

<script>

function copyPassword(){

    let pass = document.getElementById("password");

    pass.select();

    document.execCommand("copy");

    alert("Password Copied!");

}

</script>

</body>
</html>